<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>FC Football template</title>
    <link rel="stylesheet" href="{{ asset('bundles/russia2pi/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/russia2pi/css/owl.carousel.css') }}">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!--[if IE 9]>
    <script src="{{ asset('bundles/russia2pi/js/media.match.min.js') }}"></script>
    <![endif]-->
</head>

<body>
<div id="main-wrapper">

    <!-- Start Header -->
    <header id="header" class="second-version">
        <div class="container">
            <div class="header-logo">
                <a href="index.html"><img src="img/logo.png" alt=""></a>
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
            </div>
        </div>
        <div class="header-toolbar">
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="header-language pull-left">
                        <a href="#">
                            <i class="fa fa-globe"></i>
                            <span>EN</span>
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <ul class="custom-list">
                            <li class="active"><a href="#">EN</a></li>
                            <li><a href="#">FR</a></li>
                            <li><a href="#">PT</a></li>
                            <li><a href="#">IT</a></li>
                        </ul>
                    </div>
                    <div class="header-user pull-right">
                        <ul class="custom-list">
                            <li>
                                <div class="header-user-forms">
                                    <div class="header-login">
                                        <a href="#" class="">Login</a>
                                        <div>
                                            <form action="#" class="default-form">
                                                <p class="form-row">
                                                    <input type="text" class="form-control" placeholder="Username">
                                                </p>
                                                <p class="form-row">
                                                    <input type="password" class="form-control" placeholder="Password">
                                                </p>
                                                <p class="form-row">
                                                    <input type="submit" class="btn full-width" value="Login">
                                                </p>
                                                <a href="#" class="btn btn-link">Forgot Password?</a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="header-register">
                                        <a href="#" class="">Register</a>
                                        <div>
                                            <form action="#" class="default-form">
                                                <p class="form-row">
                                                    <input type="text" class="form-control" placeholder="Username">
                                                </p>
                                                <p class="form-row">
                                                    <input type="email" class="form-control" placeholder="Email">
                                                </p>
                                                <p class="form-row">
                                                    <input type="password" class="form-control" placeholder="Password">
                                                </p>
                                                <input type="submit" class="btn full-width" value="Register">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Cart (0)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-navbar">
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <nav class="navigation">
                        <ul class="list-inline text-center custom-list">
                            <li class="has-submenu">
                                <a href="#">Home</a>
                                <ul class="sub-menu custom-list">
                                    <li class="active"><a href="/Russia2018Symfony/web/app_dev.php/client">Home Default</a></li>

                                </ul>
                            </li>

                            <li><a href="{{ path ('PageAffichageEquipeFront') }}">Teams</a></li>
                            <li><a href="{{ path ('PageAffichageFront') }}">Player</a></li>
                            <li><a href="{{ path ('Graphe') }}">Stats</a></li>
                            <li><a href="{{ path ('hotelclient') }}">Reservation hotel</a></li>
                            <li><a href="{{ path ('transportclient') }}">Transport</a></li>
                            <li><a href="/Russia2018Symfony/web/app_dev.php/client/reclamation/new">Contact</a></li>

                        </ul>
                    </nav>
                    <ul class="social list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <button class="navbar-toggle">
                        <i class="fa fa-list"></i>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->



    !-- Start Nav-Tabs -->

    <!-- End Nav-Tabs -->

    <!-- Start Teams -->
    <div id="teams" class="teams">
        <div class="container">

            <!-- Start Heading -->
            <div class="heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="border">Our Teams</h4>
            </div>
            <!-- End Heading -->

            <!-- Start Teams-Frame -->
            <div class="teams-frame col-lg-12">

                <!-- Start Nav-Tabs -->
                <ul class="nav nav-tabs vertical-tab col-md-12" role="tablist">
                    <li class="active"><a href="#senior-team" role="tab" data-toggle="tab">Equipes</a>
                    </li>

                </ul>
                <!-- End Nav-Tabs -->

                <!-- Start Tab Seniors -->
                <div class="tab-pane fade active in" id="senior-team">

                    <!-- Start Team-Players -->
                    <div class="team-players">
                        {% for i in m %}
                            <div class="player-profile">
                                <img src="{{ asset('images/') }}{{ i.logo }}" alt="" class="thumbnail">
                                <span class="number">{{ i.classement }}</span>
                                <span class="name">{{ i.nomEquipe }}</span>

                            </div>
                        {% endfor %}

                        <div class="navigation">
                            {{ knp_pagination_render(m) }}
                        </div>
                    </div>
                    <!-- End Team-Players -->

                </div>
                <!-- End Tab Seniors -->






            </div>
            <!-- End Teams-Frame -->

        </div>
    </div>
    <!-- End Teams -->





    <!-- Start Footer -->
    <footer id="footer">
        <div class="container">

            <!-- Start Footer-Top -->
            <div class="footer-top clearfix">
                <div class="widget col-lg-3 col-md-3 col-sm-6">
                    <h5 class="widget-title">About FC</h5>
                    <p>Lorem ipsum dolor sit amet consete adipisicing elit. Proin nibh augue.</p>
                    <ul class="contact-info custom-list">
                        <li><i class="fa fa-map-marker"></i><span>10 Milk Street #230 Boston, MA 02108</span></li>
                        <li><i class="fa fa-phone"></i><span>+1 (123) 456-7890</span></li>
                        <li><i class="fa fa-envelope"></i><span><a href="mailto:example@example.com">example@example.com</a></span></li>
                    </ul>
                </div>
                <div class="widget col-lg-3 col-md-3 col-sm-6">
                    <h5 class="widget-title">Information</h5>
                    <ul class="custom-list">
                        <li><a href="#">About the Club</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Tickets and Membership</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">404 Error Page</a></li>
                    </ul>
                </div>
                <div class="widget col-lg-3 col-md-3 col-sm-6">
                    <h5 class="widget-title">Support</h5>
                    <ul class="custom-list">
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Website Accessibility Statement</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Account</a></li>
                    </ul>
                </div>
                <div class="widget col-lg-3 col-md-3 col-sm-6">
                    <h5 class="widget-title">Gallery</h5>
                    <ul class="gallery custom-list row">
                        <li><a href="#"><img src="img/gallery_footer.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img/gallery_footer2.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img/gallery_footer3.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img/gallery_footer4.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img/gallery_footer5.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img/gallery_footer6.jpg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <!-- End Footer-Top -->

            <!-- Start Sposnors -->
            <div class="sponsors clearfix">
                <h5 class="text-center">Sponsors</h5>
                <div class="sponsor-logo text-center col-lg-2 col-md-2 col-sm-4">
                    <img src="img/partner.png" alt="">
                </div>
                <div class="sponsor-logo text-center col-lg-2 col-md-2 col-sm-4">
                    <img src="img/partner2.png" alt="">
                </div>
                <div class="sponsor-logo text-center col-lg-2 col-md-2 col-sm-4">
                    <img src="img/partner3.png" alt="">
                </div>
                <div class="sponsor-logo text-center col-lg-2 col-md-2 col-sm-4">
                    <img src="img/partner4.png" alt="">
                </div>
                <div class="sponsor-logo text-center col-lg-2 col-md-2 col-sm-4">
                    <img src="img/partner5.png" alt="">
                </div>
                <div class="sponsor-logo text-center col-lg-2 col-md-2 col-sm-4">
                    <img src="img/partner6.png" alt="">
                </div>
            </div>
            <!-- End Sponsors -->

        </div>

        <!-- Start Copyrights -->
        <div class="copyrights clearfix text-center">
            <p class="col-lg-12">© Copyright 2014 FC Theme. All Rights Reserved</p>
        </div>
        <!-- End Copyrights -->

    </footer>
    <!-- End Footer -->

    <!-- Start Back-to-Top -->
    <a href="#" id="back-to-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- End Back-to-Top -->

</div>
<!-- end #main-wrapper -->

<!-- Scripts -->
<script src="{{ asset('bundles/russia2pi/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/russia2pi/js/scripts.js') }}"></script>
<script src="{{ asset('bundles/russia2pi/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('bundles/russia2pi/js/jquery.ba-outside-events.min.js') }}"></script>
<script src="{{ asset('bundles/russia2pi/js/tab.js') }}"></script>
<script src="{{ asset('bundles/russia2pi/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/russia2pi/js/jquery.vide.min.js') }}"></script>
<script src="{{ asset('bundles/russia2pi/twitter/jquery.tweet.min.js') }}" type="text/javascript"></script>

</body>
</html>
