{% extends 'NejmeddineBundle:Default:layout.html.twig' %}

{% block body %}
    <h1>Reclamations list</h1>

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
                <th>Idreclamation</th>
                <th>Sujetrec</th>
                <th>Descriptionrec</th>
                <th>Daterec</th>
                <th>Etatrec</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td><a href="{{ path('admin_manage_reclamation_show', { 'idReclamation': reclamation.idReclamation }) }}">{{ reclamation.idReclamation }}</a></td>
                <td>{{ reclamation.sujetRec }}</td>
                <td>{{ reclamation.descriptionRec }}</td>
                <td>{{ reclamation.dateRec }}</td>
                <td>{{ reclamation.etatRec }}</td>
                <td>
                    <ul>
                        <li>
                            <button type="button" class="btn btn-outline-success and-all-other-classes">
                                <a href="{{ path('admin_manage_reclamation_show', { 'idReclamation': reclamation.idReclamation }) }}" style="color:inherit"> Afficher </a>
                            </button>

                        </li>
                        <li>
                            <button type="button" class="btn btn-outline-primary">
                                <a href="{{ path('admin_manage_reclamation_edit', { 'idReclamation': reclamation.idReclamation }) }}" style="color:inherit"> Repondre </a>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn btn-outline-warning">
                                <a href="{{ path('admin_manage_reclamation_changeetat', { 'idReclamation': reclamation.idReclamation }) }}" style="color:inherit"> Resolu </a>
                            </button>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
