{% block head %}

    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="{{ asset('bundles/russiapi/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ asset('bundles/russiapi/vendor/font-awesome/css/font-awesome.min.css') }}"rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{{ asset('bundles/russiapi/vendor/datatables/dataTables.bootstrap4.css') }}"rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{ asset('bundles/russiapi/css/sb-admin.css') }}"rel="stylesheet">



    {% block body %}
    <div class="content-wrapper">
        <div class="card mb-3">
            <div class="card-header">
                <br>
                <br>
                <br>
                <br>

                <i class="fa fa-table"></i>< <h1>Commentaire creation</h1></div>


<br>
            <br>
            <br>
            <br>
            <br>





                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <input type="submit" value="Create" />
                            {{ form_end(form) }}

</div>
        </div>


                        {% endblock %}
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <footer class="sticky-footer">
                        <div class="container">
                            <div class="text-center">
                                <small>Copyright © Your Website 2018</small>
                            </div>
                        </div>

                    </footer>
                    <!-- Scroll to Top Button-->
                    <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                    <!-- Logout Modal-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-primary" href="login.html">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Bootstrap core JavaScript-->
                    <script src="{{ asset('bundles/russiapi/vendor/jquery/jquery.min.js') }}"></script>
                    <script src="{{ asset('bundles/russiapi/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
                    <!-- Core plugin JavaScript-->
                    <script src="{{ asset('bundles/russiapi/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
                    <!-- Page level plugin JavaScript-->
                    <script src="{{ asset('bundles/russiapi/vendor/chart.js/Chart.min.js') }}"></script>
                    <script src="{{ asset('bundles/russiapi/vendor/datatables/jquery.dataTables.js') }}"></script>
                    <script src="{{ asset('bundles/russiapi/vendor/datatables/dataTables.bootstrap4.js') }}"></script>
                    <!-- Custom scripts for all pages-->
                    <script src="{{ asset('bundles/russiapi/js/sb-admin.min.js') }}"></script>
                    <!-- Custom scripts for this page-->
                    <script src="{{ asset('bundles/russiapi/js/sb-admin-datatables.min.js') }}"></script>
                    <script src="{{ asset('bundles/russiapi/js/sb-admin-charts.min.js') }}"></script>
                </div>

    </body>

{% endblock %}


