{% extends 'NejmeddineBundle:ViewsNews:News.html.twig' %}
{% block body %}
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example</div>
    <div class="card-body>
    <h1>Liste des News</h1>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th >Id</th>
                <th>Titre</th>
                <th>Type</th>
                <th>Mot cles</th>
                <th>Texte</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td><a href="{{ path('admin_manage_news_show', { 'idNews': news.idNews }) }}">{{ news.idNews }}</a></td>
                <td>{{ news.titreN }}</td>
                <td>{{ news.typeN }}</td>
                <td>{{ news.motCles }}</td>
                <td style="width: 88px;">{{ news.texteN }}</td>
                <td><img width="50px" src="{{ news.imageN }}"></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_manage_news_show', { 'idNews': news.idNews }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_manage_news_edit', { 'idNews': news.idNews }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <ul>
        <li>
            <a href="{{ path('admin_manage_news_new') }}">Creer une News</a>
        </li>
    </ul>

{% endblock %}
