{% extends 'NejmeddineBundle:Default:layout.html.twig' %}

{% block body %}
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example</div>
    <h1>News</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id news</th>
                <td>{{ news.idNews }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ news.titreN }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ news.typeN }}</td>
            </tr>
            <tr>
                <th>Mot cles</th>
                <td>{{ news.motCles }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ news.texteN }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img width="50px" src="{{ news.imageN }}"></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_manage_news_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_manage_news_edit', { 'idNews': news.idNews }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
