{% extends 'NejmeddineBundle:Default:layout.html.twig' %}

{% block body %}
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example</div>
    <h1>News</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id news</th>
                <td>{{ news.idNews }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ news.titreN }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ news.typeN }}</td>
            </tr>
            <tr>
                <th>Mot cles</th>
                <td>{{ news.motCles }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ news.texteN | raw}}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img width="50px" src="{{ news.imageN }}"></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <button type="button" class="btn btn-outline-danger and-all-other-classes">
            <a href="{{ path('admin_manage_news_index') }}" style="color:inherit">Back to the list</a>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-outline-primary">
            <a href="{{ path('admin_manage_news_edit', { 'idNews': news.idNews }) }}" style="color:inherit">Modifier</a>
            </button>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="submit" value="Delete" class="btn btn-outline-warning">Delete</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
