{% extends 'NejmeddineBundle:Default:layout.html.twig' %}

{% block body %}
    <h1>Publicites list</h1>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Url</th>
                <th>Startdatetime</th>
                <th>Enddatetime</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publicite in publicites %}
            <tr>
                <td><a href="{{ path('admin_manage_publicite_show', { 'id': publicite.id }) }}">{{ publicite.id }}</a></td>
                <td>{{ publicite.title }}</td>
                <td>{{ publicite.url }}</td>
                <td>{% if publicite.startdatetime %}{{ publicite.startdatetime|date('Y-m-d') }}{% endif %}</td>
                <td>{{ publicite.enddatetime }}</td>
                <td>{{ publicite.prix }}</td>
                <td>
                    <ul>
                        <li>
                            <button type="button" class="btn btn-outline-success and-all-other-classes">
                            <a href="{{ path('admin_manage_publicite_show', { 'id': publicite.id }) }}" style="color:inherit">Afficher</a>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-outline-primary">
                            <a href="{{ path('admin_manage_publicite_edit', { 'id': publicite.id }) }}" style="color:inherit">Modifier</a>
                            </button>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_manage_publicite_new') }}">Create a new publicite</a>
        </li>
    </ul>
{% endblock %}
